<!-- <app-header></app-header>
<app-nav></app-nav> -->

<div style="padding-top: 35px;">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="col-md-2">
        <div>
          <a href="#aboutus" style="text-decoration: none;"><p>About us</p></a>
          <a href="#leaders" style="text-decoration: none;"
            ><p>Our leader</p></a
          >
        </div>
      </div>
      <div class="col-md-9">
        <div>
          <p id="aboutus" class="pv1">About us</p>
          <p class="pv2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            ac sollicitudin nisl. In hac habitasse platea dictumst. Suspendisse
            sit amet accumsan nisl. Integer felis augue, posuere sed facilisis
            ac, elementum ut eros.
          </p>
          <p class="pv2">
            Donec ullamcorper dolor non dui sagittis, id consequat metus
            placerat. Sed sem odio, dapibus at lacus at, dignissim auctor
            tortor. Nunc euismod nisi ut sapien pulvinar porttitor et non elit.
            Fusce mollis viverra mattis. Cras tincidunt lectus at ante mattis
            lobortis. Pellentesque non fringilla tellus, sed tincidunt felis.
          </p>
          <p class="pv2">
            Duis commodo erat nisl, sit amet blandit purus bibendum porta.
            Suspendisse non tellus est. Nam nisl tortor, facilisis eu metus
            quis, venenatis placerat sapien. Ut vitae turpis at elit lobortis
            hendrerit id sed justo. Nam felis mauris, vulputate in molestie eu,
            sollicitudin non lorem. Pellentesque elementum commodo dolor nec
            gravida.
          </p>
          <div style="padding-top: 70px;">
            <p class="p1">Global Scale & Reach</p>
          </div>
          <img src="assets/images/about-us.png" alt="" />
          <div class="row">
            <div style="width: 200px; text-align: center; margin-right: 118px;">
              <p>Live listings on the TechDream marketplace</p>
            </div>
            <div style="width: 200px; text-align: center; margin-right: 114px;">
              <p>Buyers on the TechDream marketplace</p>
            </div>
            <div style="width: 200px; text-align: center;">
              <p>Cities with TechDream Classifieds listings</p>
            </div>
          </div>
          <div style="padding-top: 70px;">
            <div style="padding-bottom: 10px;">
              <p class="p1">Awards & Recognition</p>
            </div>
            <p class="p2">
              TechDream is consistently recognized as a company that does the
              right thing. From creating a workplace environment where employees
              can be their authentic selves, to being a responsible business
              with a commitment to the community -- we're breaking down barriers
              and helping to foster opportunity for all.
            </p>
            <img src="assets/images/awards.png" alt="" />
          </div>
          <div style="padding-top: 70px;">
            <div class="row">
              <div class="col-md-4">
                <div style="width: 250px;">
                  <img src="assets/images/leader.jpg" alt="" />
                </div>
              </div>
              <div class="col-md-8">
                <div>
                  <p id="leaders" class="pv1">Our Leader</p>
                  <p class="pv2">
                    Donec quis orci at sem viverra fermentum et sit amet orci.
                    Suspendisse vel nisl nulla. Quisque at risus cursus,
                    vulputate nisi non, mollis mauris. Orci varius natoque
                    penatibus et magnis dis parturient montes, nascetur
                    ridiculus mus. Curabitur ut dui a mi pellentesque molestie
                    dictum nec risus.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="center">
  <mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile>
      <div class="row">
        <div style="padding-left: 40px; padding-top: 110px;">
          <p class="pv1">Our vision</p>
          <div style="width: 380px;">
            <p class="pv2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
              ac sollicitudin nisl. In hac habitasse platea dictumst.
              Suspendisse sit amet accumsan nisl. Integer felis augue, posuere
              sed facilisis ac, elementum ut eros.
            </p>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
</div>
<div>
  <div class="center"></div>
</div> -->

<!-- <app-footer></app-footer> -->
