<div style="padding-top: 100px;">
  <div class="div1">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="store-list-div">
            <span class="store-span">STORE</span>
            <mat-list role="list">
              <mat-list-item role="listitem">
                <div mat-line>Browse store</div>
              </mat-list-item>
              <mat-list-item role="listitem">
                <div mat-line>Orders</div>
              </mat-list-item>
              <mat-list-item role="listitem">
                <div mat-line>About us</div>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
        <div class="col">
          <div class="legal-div">
            <span class="store-span">LEGAL WARNING</span>
            <mat-list role="list">
              <mat-list-item role="listitem">
                <div mat-line>Terms of use</div>
              </mat-list-item>
              <mat-list-item role="listitem">
                <div mat-line>Cookies policy</div>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="col">
          <div class="list-div">
            <span class="contact-span">CONTACT INFORMATION</span>
            <mat-list role="list">
              <mat-list-item role="listitem">
                <mat-icon style="color: #808080; cursor: default;" mat-list-icon
                  >phone</mat-icon
                >
                <div mat-line>+(381)63 123 1234</div>
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon style="color: #808080; cursor: default;" mat-list-icon
                  >location_on</mat-icon
                >
                <div mat-line>1235, WebShop, Serbia</div>
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon style="color: #808080; cursor: default;" mat-list-icon
                  >mail</mat-icon
                >
                <div mat-line>info@gmail.com</div>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
        <div>
          <div class="col">
            <div class="follow-div">
              <span class="store-span">FOLLOW US</span>
            </div>
            <mat-list role="list">
              <mat-list-item role="listitem">
                <mat-icon
                  style="cursor: default;"
                  mat-list-icon
                  svgIcon="facebook"
                ></mat-icon>
                <div mat-line>Facebook</div>
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon
                  svgIcon="twitter"
                  style="color: #808080; cursor: default;"
                  mat-list-icon
                ></mat-icon>
                <div mat-line>Twitter</div>
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-icon
                  svgIcon="googleplus"
                  style="color: #808080; cursor: default;"
                  mat-list-icon
                  ></mat-icon
                >
                <div mat-line>Google+</div>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="background-color: #303030; position: relative;">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="copyright">
            <span>&copy;2020, Nikola Perac King</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="image">
            <img
              allign="right"
              src="assets/images/kartice.png"
              alt="Italian Trulli"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

