<mat-card class="card-away">
    <form class="example-form">
        <div class="container">
          <div class="row">
            <mat-form-field class="example-full-width">
              <mat-label>Favorite food</mat-label>
              <input id="from" matInput placeholder="Ex. Pizza" value="Sushi" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="example-full-width">
              <mat-label>Leave a comment</mat-label>
              <textarea
                id="to"
                matInput
                placeholder="Ex. It makes me feel..."
              ></textarea>
            </mat-form-field>
          </div>
        </div>
        <button mat-button color="primary">Primary</button>
      </form>
</mat-card>

