<!-- <div style="text-align:center">
  <section class="section">
      <div class="container">
          <nav class="navbar" role="navigation" aria-label="main navigation">
              <div class="navbar-menu is-active buttons">
                <button *ngIf="!isAuthenticated" (click)="oktaAuth.loginRedirect()">Login</button>
                <button *ngIf="isAuthenticated" (click)="oktaAuth.logout()">Logout</button>
              </div>
          </nav>
      </div>
  </section>
</div> -->

<mat-toolbar class="mat-toolbar">
  <div class="container">
    <div class="row">
      <div style="margin-left: auto; margin-right: 0">
        <div class="container">
          <div class="row">
            <!-- <mat-icon class="example-icon" aria-hidden="false">person</mat-icon>
            <a href="https://www.okta.com/#">
              <span class="header-font">My Account </span>
            </a>
            <mat-divider class="divider" [vertical]="true"></mat-divider>
            <mat-icon class="example-icon" aria-hidden="false"
              >favorite</mat-icon
            >
            <span class="header-font">Wishlist</span> -->
            <div>
              <button
                mat-button
                class="log"
                *ngIf="!isAuthenticated"
                (click)="login()"
              >
                Login
              </button>
              <button
                mat-button
                class="log"
                *ngIf="isAuthenticated"
                (click)="logout()"
              >
                Logout
              </button>
            </div>
            <mat-divider class="divider" [vertical]="true"></mat-divider>
            <mat-icon class="example-icon" aria-hidden="false">phone</mat-icon>
            <span class="header-font">+(123)23 123 1234</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>

<div class="container">
  <div class="col">
    <div style="padding-top: 20px; padding-bottom: 20px">
      <div class="row">
        <div class="col-md-3">
          <button
            disableRipple
            class="site-button"
            (click)="backHome()"
            mat-flat-button
          >
            <img src="assets/images/sajtlogo.png" alt="Logo sajta" />
          </button>
        </div>
        <div class="col-md-9">
          <!-- <button mat-button class="button1" color="primary">Primary</button> -->
          <mat-form-field
            class="form-search-bar"
            color="accent"
            appearance="outline"
          >
            <mat-icon style="color: gray !important" matSuffix>search</mat-icon>
            <mat-label>Search products</mat-label>
            <input
              matInput
              placeholder=""
              (keydown)="onKeydown($event)"
              [(ngModel)]="searchTerm"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="background-color: #303030">
  <div class="d-flex justify-content-center">
    <div class="nav-div">
      <div class="container">
        <div class="row">
          <div class="d-flex justify-content-center">
            <button
              class="button1"
              id="auto_trigger"
              (mouseover)="over()"
              mat-button
              [matMenuTriggerFor]="menu"
            >
              Categories
            </button>
            <mat-menu #menu="matMenu">
              <button
                class="meni"
                (click)="activateCategory(1, 'mobile')"
                mat-menu-item
              >
                Smartphone's
              </button>
              <button
                class="meni"
                (click)="activateCategory(2, 'speaker')"
                mat-menu-item
              >
                Speaker's
              </button>
              <button
                class="meni"
                (click)="activateCategory(3, 'processor')"
                mat-menu-item
              >
                Processor's
              </button>
              <button
                class="meni"
                (click)="activateCategory(4, 'laptop')"
                mat-menu-item
              >
                Laptops
              </button>
              <button
                class="meni"
                (click)="activateCategory(5, 'tv')"
                mat-menu-item
              >
                TV's
              </button>
            </mat-menu>
            <button
              mat-button
              class="button1"
              (click)="toggleHome()"
              color="accent"
            >
              Home
            </button>
            <button
              mat-button
              class="button1"
              (click)="toggleBrowse()"
              color="accent"
            >
              Browse
            </button>
            <!-- <button mat-button class="button1" color="accent">Categories</button> -->

            <button
              mat-button
              class="button1"
              (click)="toggleAboutUs()"
              color="accent"
            >
              About us
            </button>

            <button
              mat-button
              class="button1"
              (click)="toggleCart()"
              color="accent"
            >
              <div class="d-flex justify-content-center">
                <div class="row">
                  Cart
                  <div class="counter">
                    <p style="line-height: 22px">{{ broj }}</p>
                  </div>
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-browse [hidden]="isVisibleBrowse" [productItem]="product"></app-browse>

<app-front-page *ngIf="isVisibleFrontPage"></app-front-page>

<app-cart [hidden]="isVisibleCart"></app-cart>

<app-item-details [hidden]="isVisibleItemDetails"></app-item-details>

<app-about-us *ngIf="isVisibleAboutUs"></app-about-us>

<app-checkout *ngIf="isAuthenticated && isVisibleCheckout"></app-checkout>

<router-outlet></router-outlet>

<app-footer></app-footer>

<!-- <app-shopping-detail-list></app-shopping-detail-list> -->

<!-- <div class="container">
  <div class="row">
    <div class="col">
      <app-shopping-detail></app-shopping-detail>
    </div>
  </div>
</div> -->
