.card-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-grid1 {
    padding: 0px;
}


.mat-card {
    transition: none !important;
    box-shadow: none !important;
    background-color: #f0f0f0;
    color: #545454;
    font-weight: 500;
    font-size: 12.5pt;
    padding-left: 10px;
}

.mat-card-div {
    margin-bottom: 5px;

}

.example-card {
    border: 3px solid #f3f3f3;
    width: 200px;
    height: 310px;
    transition: none !important;
    box-shadow: none !important;
    background-color: #fafafa;
    margin: 0px !important;
    padding: 0px !important;
  }

.image-set {
    border-bottom: 3px solid #f3f3f3;
    margin: 0px;
    background-color: white;
}

.p1 {
    text-align: center;
    margin: 2px;
    padding-top: 8px;
    margin-bottom: 8px;
    color: #666;
}

.p2 {
    text-align: center; 
    color: #cf0c2a;
    font-weight: 450;
    font-size: 12pt;
}

.add-to-cart-btn {
    background-color: #ff4081;
    transition: none !important;
    box-shadow: none !important;
    margin-bottom: -5px;
    width: 145px;
    color: white;
}

.add-to-cart-icon {
    justify-content: center;
    margin-bottom: 13px;
    margin-right: 7px;
  }

.prev {
    background-size: cover;
    width: 200px;
    height: 300px;
  }

.mat-card-size {
    width: 200;
    height: 200;
}