<div style="padding-top: 15px;">
  <mat-card class="example-card">
    <button (click)="opetItemDetails()" mat-button class="image-set">
      <img [src]="productItem.ImageUrl" />
    </button>
    <mat-card-content>
      <p class="p1">
        <strong> {{ productItem.ItemName }} </strong>
      </p>
      <p class="p2">
        <strong> {{ productItem.Price | currency: "USD" }} </strong>
      </p>
    </mat-card-content>
    <mat-card-actions class="card-action">
      <button
        class="add-to-cart-btn"
        mat-raised-button
        (click)="handleAddToCart()"
      >
        <mat-icon class="add-to-cart-icon" svgIcon="shopping-cart"></mat-icon>
        Add to cart
      </button>
    </mat-card-actions>
  </mat-card>
</div>
