<div style="padding-top: 30px;">
  <div class="d-flex justify-content-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-hover-zoom">
            <img [src]="productItem.ImageUrl" />
          </div>
        </div>
        <div class="col-md-4">
          <p class="p1">
            <strong> {{ productItem.ItemName }} </strong>
          </p>
          <p class="p2">
            <strong> {{ productItem.Price | currency: "USD" }} </strong>
          </p>
          <p>
            <span class="sp1">Vendor : </span> <span> </span>
            <span class="sp2"> TechDream</span>
          </p>

          <p>
            <span class="sp1">Product Type : </span> <span> </span>
            <span class="sp2"> Electronic</span>
          </p>
          <div style="padding-top: 20px;">
            <button (click)="handleAddToCart()" class="button1" mat-button color="primary">
              ADD TO CART
            </button>
          </div>
          <div style="padding-top: 20px;">
            <button class="button2" mat-button color="primary">
              BUY IT NOW
            </button>
          </div>
          <div style="padding-top: 30px;">
            <img
              src="https://cdn.shopify.com/s/files/1/0250/3793/0580/files/trust_387x42.png?v=1569217585"
              alt=""
            />
          </div>
        </div>
      </div>
      <div style="padding-top: 30px;">
        <mat-tab-group mat-stretch-tabs 
        class="remove-border-bottom"
        [color]="color"
        >
          <mat-tab label="Description">
            <div style="margin-top: 20px; padding-left: 25px;">
              <div>
                <p class="p3">
                  Faded short sleeves t-shirt with high neckline. Soft and
                  stretchy material for a comfortable fit. Accessorize with a
                  straw hat and you're ready for summer!
                </p>
              </div>
              <div>
                <h4 class="h1">Sample Unordered List</h4>
              </div>
              <div>
                <ul class="l1">
                  <li>Comodous in tempor ullamcorper miaculis</li>
                  <li>Pellentesque vitae neque mollis urna mattis laoreet.</li>
                  <li>Divamus sit amet purus justo.</li>
                  <li>
                    Proin molestie egestas orci ac suscipit risus posuere
                    loremou.
                  </li>
                </ul>
              </div>
              <div>
                <h4 class="h2">Sample Ordered Lista</h4>
              </div>
              <div>
                <ol class="l2">
                  <li>Comodous in tempor ullamcorper miaculis</li>
                  <li>Pellentesque vitae neque mollis urna mattis laoreet.</li>
                  <li>Divamus sit amet purus justo.</li>
                  <li>
                    Proin molestie egestas orci ac suscipit risus posuere
                    loremous.
                  </li>
                </ol>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Shipping and returns">
            <div style="margin-top: 20px; padding-left: 25px;">
              <div>
                <h4 class="h1">Returns Policy</h4>
              </div>
              <div>
                <p class="p3">
                  You may return most new, unopened items within 30 days of
                  delivery for a full refund. We'll also pay the return shipping
                  costs if the return is a result of our error (you received an
                  incorrect or defective item, etc.).
                </p>
                <p class="p3">
                  You should expect to receive your refund within four weeks of
                  giving your package to the return shipper, however, in many
                  cases you will receive a refund more quickly. This time period
                  includes the transit time for us to receive your return from
                  the shipper (5 to 10 business days), the time it takes us to
                  process your return once we receive it (3 to 5 business days),
                  and the time it takes your bank to process our refund request
                  (5 to 10 business days).
                </p>
                <p class="p3">
                  If you need to return an item, simply login to your account,
                  view the order using the 'Complete Orders' link under the My
                  Account menu and click the Return Item(s) button. We'll notify
                  you via e-mail of your refund once we've received and
                  processed the returned item.
                </p>
              </div>
              <div>
                <h4 class="h2">
                  Shipping
                </h4>
              </div>
              <div>
                <p class="p3">
                  We can ship to virtually any address in the world. Note that
                  there are restrictions on some products, and some products
                  cannot be shipped to international destinations.
                </p>
                <p class="p3">
                  When you place an order, we will estimate shipping and
                  delivery dates for you based on the availability of your items
                  and the shipping options you choose. Depending on the shipping
                  provider you choose, shipping date estimates may appear on the
                  shipping quotes page.
                </p>
                <p class="p3">
                  Please also note that the shipping rates for many items we
                  sell are weight-based. The weight of any such item can be
                  found on its detail page. To reflect the policies of the
                  shipping companies we use, all weights will be rounded up to
                  the next full pound.
                </p>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
