.p1 {
  font-weight: 500;
  font-size: 28px;
  color: rgb(49, 49, 49);
  padding-top: 80px;
}

.p2 {
  font-weight: 500;
  font-size: 25px;
  color: rgb(94, 94, 94);
  padding-top: 15px;
  padding-bottom: 15px;
}

.img-hover-zoom {
  border: 1px solid rgb(230, 230, 230);

  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform 0.5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}

.sp1 {
  color: rgb(88, 88, 88);
  font-size: 15px;
  font-weight: 450;
}

.sp2 {
  color: rgb(143, 143, 143);
  font-size: 15px;
}

.button1 {
  width: 240px;
  height: 45px;
  font-size: 14px;
  color: #f7f7f7;
  background-color: #ff4081 !important;
  letter-spacing: 1px;
  font-weight: 400;
}

.button2 {
    width: 140px;
    height: 45px;
    font-size: 14px;
    color: black;
    background-color: #fed700 !important;
    letter-spacing: 1px;
    font-weight: 400;
  }
