<!-- <div style="padding-top: 15px;">
  <mat-card class="example-card">
    <img class="image-set"  [src]="productItem.ImageUrl">
    <mat-card-content>
      <p class="p1">
        <strong> {{ productItem.ItemName }} </strong>
      </p>
      <p class="p2">
        <strong> {{ productItem.Price | currency: 'USD' }} </strong>
      </p>
    </mat-card-content>
    <mat-card-actions class="card-action">
      <button class="add-to-cart-btn" mat-raised-button color="primary" (click)="handleAddToCart()">
        <mat-icon class="add-to-cart-icon" svgIcon="shopping-cart"></mat-icon>
        Add to cart</button>
    </mat-card-actions>
  </mat-card>
  </div> -->

<div>
  <div class="row">
    <!-- <button (click)="opetItemDetails()" mat-button class="button-set"> -->
      <img class="image-set" [src]="productItem?.ImageUrl" />
    <!-- </button> -->
    <div class="text-div">
      <div class="col-sm-2">
        <div class="row">
          {{ productItem?.ItemName }}
          {{ productItem?.Price | currency: "USD" }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <img class="image-set" [src]="productItem2?.ImageUrl" />
    <div class="text-div">
      <div class="col-md-1">
        <div style="background-color: black">
          <div class="row">
            <div style="width: 100px; height: 20px">
              <p style="width: 120px">
                {{ productItem2?.ItemName }}
              </p>
            </div>
            {{ productItem2?.Price | currency: "USD" }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <img class="image-set" [src]="productItem3?.ImageUrl" />
    <div class="text-div">
      <div class="col-sm-1">
        <div class="row">
          <div style="width: 100px; height: 20px">
            <p style="width: 120px">
              {{ productItem3?.ItemName }}
            </p>
          </div>
          {{ productItem3?.Price | currency: "USD" }}
        </div>
      </div>
    </div>
  </div>
</div>
